streamlit
langchain-groq
langchain-community
langchain-classic
langchain-core
langchain-text-splitters
faiss-cpu
sentence-transformers
pandas
presidio-analyzer
presidio-anonymizer
scikit-learn
joblib
cryptography
anthropic
